#box1 {
    background-color: green;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: orange;
}

#box4 {
    background-color: yellow;
}

#box5 {
    background-color: black;
}

.box {
    height: 50px;
    width: 50px;
}