#wrapper {
    width: 960px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    background-color: green;
    height: 50px;
    line-height: 50px;
}

#banner {
    background-color: red;
}

#content {
    background-color: blue;
    width: 593px;
    float: left;
}

#sidebar {
    background-color: chocolate;
    width: 367px;
    float: left;
}

#footer {
    clear: both;
    background-color: aquamarine;
}

.box {

}